# Backend (Express)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
generated/
# Frontend (Next.js)
.next/
out/
.vercel/

# Env files (both projects)
.env

# Logs
logs/
*.log

# OS / Editor
.DS_Store
.vscode/
.idea/

# Build artifacts
build/
dist/

# Misc
*.tsbuildinfo
